---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import TypedBlogPost from "src/components/TypedBlogPost.astro";

export const getStaticPaths = (async ({ paginate }) => {
    const posts = await getCollection("blog");
    return paginate(posts, {
        pageSize: 2,
    });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout>
    <div class="pt-10 mx-auto">
        <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
            Erick's Blog paginado
        </h1>
    </div>

    <div class="flex gap-8">
        <a href="/" class="text-blue-500 hover:underline">Blog</a
        >
        <a href="/authors" class="text-blue-500 hover:underline">Autores</a>
    </div>

    <section class="bg-gray-900" aria-label="Entradas de blog">
        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
            {page.data.map((post) => <TypedBlogPost post={post} />)}
        </div>
    </section>

    <section aria-label="Controles" class="flex justify-between mt-10">
        <a
            href={page.url.prev}
            class:list={[
                "bg-blue-500 text-white p-2 rounded hover:bg-blue-600 cursor-pointer",
                {
                    disabled: !page.url.prev,
                },
            ]}>Anteriores</a
        >

        <a
            href={page.url.next}
            class:list={[
                "bg-blue-500 text-white p-2 rounded hover:bg-blue-600 cursor-pointer",
                {
                    disabled: !page.url.next,
                },
            ]}>Siguientes</a
        >
    </section>
</MainLayout>

<style>
    @reference "tailwindcss";

    .disabled {
        @apply bg-gray-600 hover:bg-gray-600;
    }
</style>
